.card {
  position: relative;

  min-width: 272px;
  min-height: 208px;

  cursor: pointer;
}

.image {
  display: block;
  margin: 0 auto;
}

.price {
  display: flex;
  gap: 8px;
  justify-content: center;

  margin: 0;
}

.title {
  text-align: center;
}

.link {
  color:  var(--text-primary-color);
  text-decoration: none;
}
