.section {
  /* width: 50%; */
  max-width: 600px;
}

.tabs {
  display: flex;
}

.categories {
  /* TODO как вычислить правильную высоту? Только js? */
  max-height: calc(100vh - 112px - 40px*2 - 196px); 
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: rgba(133, 133, 173, 1) rgba(47, 47, 55, 1);
  scroll-behavior: smooth;
}

.categories::-webkit-scrollbar {
  width: 8px;
}

.categories::-webkit-scrollbar-track {
  background: rgba(47, 47, 55, 1);
}

.categories::-webkit-scrollbar-thumb {
  background-color: rgba(133, 133, 173, 1);
}
