.container {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 60px;

  grid-column: 1/3;
  
  max-height: 100%;
  overflow: hidden;
}

.section {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(133, 133, 173, 1) rgba(47, 47, 55, 1);
  scroll-behavior: smooth;
}

.section::-webkit-scrollbar {
  width: 8px;
}

.section::-webkit-scrollbar-track {
  background: rgba(47, 47, 55, 1);
}

.section::-webkit-scrollbar-thumb {
  background-color: rgba(133, 133, 173, 1);
}

.menu {
  display: flex;
  flex-direction: column;

  min-width: 320px;
}

.link {
  text-decoration: none;
  margin: 0;
}

.active {
  color: var(--text-primary-color);
}
