.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
}

.modal {
  position: relative;
  display: flex;
  align-self: center;
  z-index: 2;

  background-color: rgba(28, 28, 33, 1);
}

.close {
  position: absolute;
  top: 60px;
  right: 40px;
}
