.header {
  grid-column: span 3;
  
  background-color: rgba(28, 28, 33, 1);
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;

  max-width: 1280px;
  margin: 0 auto;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.item {
  list-style: none;
  padding-right: 8px;
}

.item:last-of-type {
  padding-right: 0;
}

.link {
  display: flex;
  gap: 8px;
  align-items: center;

  text-decoration: none;
}

.link:hover,
.link:hover svg {
  transition: var(--common-transition);
  color: var(--text-primary-color);
  fill: var(--text-primary-color);
}

.link.active,
.link.active svg {
  color: var(--text-primary-color);
  fill: var(--text-primary-color);
}

.account {
  justify-self: end;
}
