.preview {
  background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);

  border-radius: 50%;
  border: 1px solid transparent;

  width: 64px;
  height: 64px;
  margin-right: -16px;
  z-index: 1;
}

.preview img {
  width: 64px;
  height: 64px;
  object-fit: contain;

  background-color: rgba(19, 19, 22, 1);
  border-radius: 50%;
}

.hasMore {  
  z-index: 0;
  position: relative;
  /* background-color: rgba(28, 28, 33, 1);
  opacity: .6; */
}

.hasMoreImg {  
  background-color: rgba(28, 28, 33, 1);
  opacity: .6;
  height: 100%;
  border-radius: 50%;
}

.count {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
}