.snippet {
  color: var(--text-primary-color);
  background: rgba(28, 28, 33, 1);
  border-radius: 40px;
}

.link  {
  text-decoration: none;
}

.info {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 16px;
}

.cards {
  display: flex;
  flex-direction: row-reverse;
}

.price {
  display: flex;
  align-content: center;
  align-self: center;
}

.price svg {
  margin-left: 9px;
}

.done {
  color: rgba(0, 204, 204, 1);
}

.cancelled {
  color: rgba(229, 43, 26, 1);
}
